doctype html
html
  head
    title ::.Inventory System.::
    // Bootstrap core CSS
    link(href='/stylesheets/bootstrap.css', rel='stylesheet')
    link(href='/stylesheets/style.css', rel='stylesheet')
  body
    .container
     img.logo(src='/images/inventory_logo1.png')
    .nav.navbar.navbar-expand-md.navbar-dark.bg-dark
      .container
        .navbar-header
          button.navbar-toggle.collapse(type='button',
          data-toggle='collapse', data-target='#navbar',
          aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Inventory
        .navbar.collapse.navbar-collapse 
          ul.nav.navbar-nav
            if !user
             li(class=(title == 'Login' ? 'active' : ''))
               a(href='/domains/login') Login

          ul.nav.navbar-nav.navbar-right
              li
               a(href='/domains/logout') Logout
            
             li(class=(title == 'Registro Dominio' ? 'active' : ''))
               a(href='/domains/domain-register') Domain Register 

             li(class=(title == 'Registro Usuario' ? 'active' : ''))
               a(href='/domains/signup') User Signup 
            
        // /.nav-collapse
    .container
     != messages()
     block content   
    hr
    footer
      p(class='text-center') © Company 2017-2018

    // /container
    //
      Bootstrap core JavaScript
      ==================================================
    // Placed at the end of the document so the pages load faster
script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
script(src='javascripts/bootstrap.js')